In [10]:
#課堂練習
str1 = "刑法第二百八十四條第一項前段之過失傷害罪"

In [11]:
str1

'刑法第二百八十四條第一項前段之過失傷害罪'

In [12]:
print(str1)

刑法第二百八十四條第一項前段之過失傷害罪

In [17]:
money0=700
year=6

In [22]:
money0

700

In [23]:
year

6

In [28]:
print("罰金:",money0,"元")

罰金: 700 元

In [7]:
#int,float 練習
money=63852
year=4
rate=0.16
total_money=money*(1+rate)**year
print(type(money))
print(type(rate))
print("總共要繳納的金額：",int(total_money),"元")

 int,float 練習
<class 'int'>
<class 'float'>
總共要繳納的金額： 115612 元

In [10]:
# str 練習
date="2022/9/15"
topic="偽造文書"
print("日期：",date,"\n判決內容：",topic)
print("判決書內容：",'''
臺灣臺北地方法院刑事判決　　　　　　　　　　　　八十九年度訴字第一二五五號
　　公　訴　人　臺灣臺北地方法院檢察署檢察官
　　被　　　告　邱李彩鶯
　　　　　　　　邱清義　
右列被告因偽造文書等案件，經檢察官提起公訴（八十九年度偵字第二００八號），
本院判決如左：
    主  文
邱李彩鶯、邱清義共同為他人處理事務，意圖為自己不法之利益，而為違背其任務之
行為，致生損害於本人之財產，各處有期徒刑肆月，如易科罰金，均以參佰元折算壹
日。又共同行使偽造私文書，足以生損害於公眾及他人，各處有期徒刑參月，如易科
罰金，均以參佰元折算壹日。各應執行有期徒刑伍月，如易科罰金，均以參佰元折算
壹日。
據上論斷，應依刑事訴訟法第二百九十九條第一項前段，刑法第二條第一項前段、第
二十八條、第三百四十二條第一項、第二百十六條、第二百十條、第二百十四條、第
五十五條、第五十一條第五款、修正後刑法第四十一條第一項前段、第二項，罰金罰
鍰提高標準條例第一條前段、第二條，判決如主文。
本案經檢察官李韋昌到庭執行職務
中      華      民      國      九十        年    六      月    五    日
                                      臺灣臺北地方法院刑事第五庭
                                          法  官  陳容正
右正本證明與原本無異
如不服本判決應於送達後十日內向本院提出上訴狀
                                          書記官  林妙穗
中      華      民      國      九十        年   六       月    五    日''')

日期： 2022/9/15
判決內容： 偽造文書
判決書內容：
臺灣臺北地方法院刑事判決　　　　　　　　　　　　八十九年度訴字第一二五五號
　　公　訴　人　臺灣臺北地方法院檢察署檢察官
　　被　　　告　邱李彩鶯
　　　　　　　　邱清義
右列被告因偽造文書等案件，經檢察官提起公訴（八十九年度偵字第二００八號），
本院判決如左：
    主  文
邱李彩鶯、邱清義共同為他人處理事務，意圖為自己不法之利益，而為違背其任務之
行為，致生損害於本人之財產，各處有期徒刑肆月，如易科罰金，均以參佰元折算壹
日。又共同行使偽造私文書，足以生損害於公眾及他人，各處有期徒刑參月，如易科
罰金，均以參佰元折算壹日。各應執行有期徒刑伍月，如易科罰金，均以參佰元折算
壹日。
據上論斷，應依刑事訴訟法第二百九十九條第一項前段，刑法第二條第一項前段、第
二十八條、第三百四十二條第一項、第二百十六條、第二百十條、第二百十四條、第
五十五條、第五十一條第五款、修正後刑法第四十一條第一項前段、第二項，罰金罰
鍰提高標準條例第一條前段、第二條，判決如主文。
本案經檢察官李韋昌到庭執行職務
中      華      民      國      九十        年    六      月    五    日
                                      臺灣臺北地方法院刑事第五庭
                                          法  官  陳容正
右正本證明與原本無異
如不服本判決應於送達後十日內向本院提出上訴狀
                                          書記官  林妙穗
中      華      民      國      九十        年   六       月    五    日

In [13]:
#bool 練習
String_List=["有酒駕","有酒駕","無酒駕","有酒駕"]
#第一種方法
for event in String_List:
    if event=="有酒駕":
        print("True")
    else:
        print("False")
#第二種方法
boolean_list=[X=="有酒駕"for X in String_List]
print(boolean_list)

True
True
False
True
[True, True, False, True]

In [2]:
#練習題一
x=25688*0.3
y=25688*0.7
print(int(x))
print(int(y))

7706
17981

In [5]:
#練習題二
#被告給原告11805元，利息0.00005
#1/19~3/19:59天
#違約金第一個月:150元、第二個月:300元
x=11805*(1+0.00005)**59+450
print(round(x))

12290

In [8]:
event=input("請輸入案件：")
if event=="被告闖紅燈":
    print("被告賠100%")
elif event=="被告闖紅燈":
    print("原告多被告少")
elif event=="被告原告皆闖紅燈":
    print("原告50%被告50%")
else:
    print("請填入有效訊息")

請輸入案件：被告闖紅燈
被告賠100%

In [1]:
import pandas as pd
#read txt file
NB=pd.read_csv(r"\Users\tien\Documents\GitHub\PL\file\W2\NTNUlibrary_geobooks.txt")
TB=pd.read_csv(r"\Users\tien\Documents\GitHub\PL\file\W2\TAIlibrary_geobooks.txt")

In [2]:
NB

                 書名
0        地理思想/ 王洪文著
1  地理思想.思想地理 / 施雅軒著
2   地理思想讀本 / 姜蘭虹等編譯

In [13]:
TB

                                                  書名
0                                         地理思想/ 王洪文著
1                                    地理現象與地理思想/ 周春堤著
2                                   地理思想.思想地理 / 施雅軒著
3  現代地理思想 = Modern geographical thought / Richard...
4                                    地理思想讀本 / 姜蘭虹等編譯
5                        心靈.空間.環境 : 人文主義的地理思想 / 潘朝陽著

In [19]:
# ［列出csv檔一欄位總共多少值］：
# alldata = list(allstudent['學號']) [列出全部學號(csv一欄位)]
# len(alldata)=>45個學號  
Taipeidata = list(TB['書名'])
NTNUdata = list(NB['書名'])
print('師大圖書館地理思想書籍：',len(NTNUdata),'臺北市立圖書館地理思想書籍：',len(Taipeidata))

師大圖書館地理思想書籍： 3 臺北市立圖書館地理思想書籍： 6

In [ ]:
# 補充
# final_df = applystudent.drop_duplicates(subset=['學號'])-->刪除學號重複的人
# applys = list(final_df['學號'].str.upper()) #強制將所有學號的英文字母轉成大寫

In [22]:
#找差集
#找到臺北市立圖書館地理思想書籍，師大藏書卻沒有
set(Taipeidata).difference(set(NTNUdata))

{'地理現象與地理思想/ 周春堤著',
 '心靈.空間.環境 : 人文主義的地理思想 / 潘朝陽著',
 '現代地理思想 = Modern geographical thought / Richard Peet原著 ; 王志弘等翻譯 ; 國立編譯館主譯'}

In [23]:
#找差集
#找到師大圖書館地理思想書籍，臺北市立圖書館卻沒有的
set(NTNUdata).difference(set(Taipeidata))

set()

In [33]:
#找交集
df_merge = pd.merge(TB,NB,on = "書名", how = "inner")
df_merge

                 書名
0        地理思想/ 王洪文著
1  地理思想.思想地理 / 施雅軒著
2   地理思想讀本 / 姜蘭虹等編譯